
body {
    margin-top: 150px;
    font-family: Arial, sans-serif;
    background-position: center;
    background-size: cover;
    
  }
  
  form {
    background-color: white;
    max-width: 180px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc; /* Border color and width */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
  }

  h2{
    text-align: center;
    color: white;
    font-size: x-large;
    
  }

  h1{
    text-align: center;
    color: black;
    margin-top: 5px;
    
  }
  p{
    text-align: center;
    color: white;
    font-size: x-large;
   
  }

 
  
  label {
    display: block;
    margin-bottom: 5px;
    color: black;
  }
  
  input[type="text"],
  input[type="password"],
  button {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: black;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 50px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
 
  