/* register.css */

.Register{
  max-width: 250px;
  margin-top: 150px;
  margin-left: 450px;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  border-style: ridge;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
h1{
  margin: auto;
  color: black;
  margin-bottom: 10px;
}

form {
  width: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
 
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 80px;
  margin-left: 80px ;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
